.section_six {
  margin-top: 165px;
  .guarantee_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 710px;
    > p {
      margin-bottom: 100px;
    }
    > button {
      position: absolute;
      top: 190px;
      width: 245px;
    }
  }
}
